In [2]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
import nltk
import pickle

In [2]:
train_cb = open("clickbait_data",'r')
train_data_cb = train_cb.readlines()
replaced_blank_lines_cb = list(filter(lambda x : x != '\n', train_data_cb))
replaced_new_lines_cb = []
for data in replaced_blank_lines_cb:
    replaced_new_lines_cb.append([data.replace("\n",""), 1])

In [3]:
train_ncb = open("non_clickbait_data",'r')
train_data_ncb = train_ncb.readlines()
replaced_blank_lines_ncb = list(filter(lambda x : x != '\n', train_data_ncb))
replaced_new_lines_ncb = []
for data in replaced_blank_lines_ncb:
    replaced_new_lines_ncb.append([data.replace("\n",""), 0])

In [4]:
from random import shuffle
crawled = replaced_new_lines_cb + replaced_new_lines_ncb
shuffle(crawled)

In [5]:
crawled_data = pd.DataFrame(crawled, columns=["Title", "Clickbait"])

In [43]:
crawled_data = pd.read_csv("dataset/original/dataframe/original_train.csv")
# crawled_data.iloc[31984]["Title"]
crawled_data

                                                   Title  Clickbait
0      I Hate Wearing Formals & Still Cannot Understa...          1
1      Bhojpuri Movie Titles That Perfectly Capture T...          1
2      Priyanka Chopra To Produce Comedy Series On Ma...          1
3      Mysterious, Intimidating And Ruthless: We Fina...          1
4      These Illustrations On Adulthood From A Raccoo...          1
5      This Pune Woman’s Post About Juggling Motherho...          1
6      U.S. Defense Secretary Seeks to Reassure Europ...          0
7      15 Posters That Prove Stoners Have The Most Ep...          1
8      This ‘Criminal’ Shared A Photo Of Biryani With...          1
9      BookMyBai Reveals Why It Won’t Offer Its Servi...          1
10     25 Indian Things You Can Eat As Much As You Wa...          1
11     Here’s A Guide To Keeping It Together & Acting...          1
12     The Feds, the States and the Controlled Substa...          0
13     SRK’s Raees Is A Shipwreck Of A Film & He Has ...          1
14     21 Lesser Known Tourist Spots To Discover In I...          1
15     HBO’s Latest Superhero Drama Has A Bollywood A...          1
16     Greece Orders Migrants to Declare Their Final ...          0
17     Novartis to Begin Selling Copy of Amgen’s Neup...          0
18     She Married The Love Of Her Life On Her Deathb...          1
19     China Markets: What’s Next in the Year of the ...          0
20     Quebec Battled Similar Outbreak of Legionnaire...          0
21     Valuables Of Over Rs 1 Lakh Stolen From Singer...          1
22     15 Different Fart Reactions Perfectly Captured...          1
23     ‘Ma Rainey’s Black Bottom’ Review: Really the ...          0
24     This Braveheart Climbed Mount Everest With One...          1
25     Odebrecht to Cooperate With Prosecutors in Cor...          0
26     U.K. Banks Healthy Enough to Weather Any EU Ex...          0
27     Milind Soman Wanted Company For A 7-Hour-Long ...          1
28     15 Heart-Wrenching Stories From The 1984 Sikh ...          1
29     Former FIFA Vice President Jeffrey Webb Agrees...          0
...                                                  ...        ...
31970  U.S. Business Group Urges China to Ease Data R...          0
31971  Beyonce’s Powerful Jubilant Return At VMA. Rih...          1
31972  Fed’s Policy Rate Fell Below New Target Range ...          0
31973  CMO Today: Yahoo Formalizes Sale Process With ...          0
31974  This Guy Prepared For The IIT Exams From Kota ...          1
31975  With Surge On Ola/Uber You Pay A Lot. Without ...          1
31976  Does recent market turmoil suggest a new banki...          0
31977  New York City Students Prepare for Visit With ...          0
31978  New Greek Finance Minister Thrown Into the Hot...          0
31979  Tourists Reveal Which Countries They Would Nev...          1
31980  Germany’s Anti-Immigrant Party Posts Big Gains...          0
31981  You Owe Your Taste Buds These 25 Food Adventur...          1
31982  Buffett Doubles Down With Australian Insurance...          0
31983  A Brooding Hit-Man Wanting A Better Life, Jack...          1
31984  13 Poignant Quotes That Aptly Capture The Mesm...          1
31985  Meryl Streep Gives It Back To Donald Trump On ...          1
31986  Here Are 10 Things You Shouldn’t Do In North K...          1
31987  Sonam Kapoor Calls Out Journalist For Pitting ...          1
31988  Indra Nooyi & Vikas Khanna Just Had Breakfast ...          1
31989  Yahoo Cuts Digital Magazines, Closes Burbank, ...          0
31990  Officials Say Oregon Shooting Suspect Was Arme...          0
31991  ‘Live & Love Today, Leave Nothing For Tomorrow...          1
31992  10 Instagram Accounts On Mental Health To Foll...          1
31993  Shyam Kumar’s Journey From Peon To Millionaire...          1
31994  Varun Dhawan’s ‘October’ Is Not Your Typical L...          1
31995  Thailand’s Trade Surplus Hits Record High in F...          0
31996  When It Comes to Tech Services, ‘Cloud’ Can Be...          0
31997  10 Incredible Things You Can Do If You Have 6....          1
31998  Now Reality TV Star Kim Kardashian Receives Fl...          1
31999  Three Firefighters Killed in Washington State ...          0

[32000 rows x 2 columns]

In [44]:
# Preprocess shortened words like "you ' re" to "you're"

for index, value in crawled_data.iterrows():
        crawled_data.at[index, "Title"] = "damn"
        print(crawled_data.iloc[index])

Title        Bhojpuri Movie Titles That Perfectly Capture T...
Clickbait                                                    1
Name: 1, dtype: object

#### Check how many clickbait and non clickbait titles start with a number

In [7]:
count_start_digit_cb = 0
count_start_digit_ncb = 0
for index, value in crawled_data.iterrows():
    if value[1] is 1:
        sp = value[0].split(" ")
        if sp[0].isdigit():
            count_start_digit_cb += 1
    if value[1] is 0:
        sp = value[0].split(" ")
        if sp[0].isdigit():
            count_start_digit_ncb += 1
print("Clickbait: "+str(count_start_digit_cb))            
print("Non-Clickbait: "+str(count_start_digit_ncb))

Clickbait: 3832
Non-Clickbait: 8

##### From this we can see that mostly clickbait titles start with a number

#### Check how many clickbait and non clickbit titles has "TOP + DIGIT"

In [8]:
count_start_top_digit_cb = 0
count_start_top_digit_ncb = 0
for index, value in crawled_data.iterrows():
    if value[1] is 1:
        sp = value[0].split(" ")
        if sp[0] is "Top" and sp[1].isdigit():
            count_start_top_digit_cb += 1
    if value[1] is 0:
        sp = value[0].split(" ")
        if sp[0] is "Top" and sp[1].isdigit():
            count_start_top_digit_ncb += 1
print("Clickbait: "+str(count_start_top_digit_cb))            
print("Non-Clickbait: "+str(count_start_top_digit_cb))

Clickbait: 0
Non-Clickbait: 0

##### From this we can see that this data set does not contain phrases like "Top 10"

#### Check the most common first word in clickbait

In [30]:
most_common_first_word_clickbait = {}
most_common_first_word_non_clickbait = {}
for index, value in crawled_data.iterrows():
    if value[1] is 1:
        sp = value[0].split(" ")
        if sp[0] in most_common_first_word_clickbait:
            most_common_first_word_clickbait[sp[0]] += 1
        else:
            most_common_first_word_clickbait[sp[0]] = 1
    if value[1] is 0:
        sp = value[0].split(" ")
        if sp[0] in most_common_first_word_non_clickbait:
            most_common_first_word_non_clickbait[sp[0]] += 1
        else:
            most_common_first_word_non_clickbait[sp[0]] = 1

In [10]:
most_common_first_word_clickbait_df = pd.DataFrame()
most_common_first_word_clickbait_df['Word'] = most_common_first_word_clickbait.keys()
most_common_first_word_clickbait_df['Count'] = most_common_first_word_clickbait.values()

most_common_first_word_non_clickbait_df = pd.DataFrame()
most_common_first_word_non_clickbait_df['Word'] = most_common_first_word_non_clickbait.keys()
most_common_first_word_non_clickbait_df['Count'] = most_common_first_word_non_clickbait.values()

In [11]:
most_common_first_word_clickbait_df.sort_values(by=['Count'], ascending=False).head()

     Word  Count
5    This   1388
4   These    726
6      15    643
28    The    574
21     10    506

In [12]:
most_common_first_word_non_clickbait_df.sort_values(by=['Count'], ascending=False).head()

        Word  Count
0       U.S.    396
131      New    198
67   Today’s    170
1        The    169
4      China    154

##### From this we can see that most common first word in a clickbait title is "This, Which"

#### Check most common words in clickbait

In [13]:
most_common_words_clickbait = {}
most_common_words_non_clickbait = {}
for index, value in crawled_data.iterrows():
    if value[1] is 1:
        sp = value[0].split(" ")
        for word in sp:
            if word in most_common_words_clickbait:
                most_common_words_clickbait[word] += 1
            else:
                most_common_words_clickbait[word] = 1
    if value[1] is 0:
        sp = value[0].split(" ")
        for word in sp:
            if word in most_common_words_non_clickbait:
                most_common_words_non_clickbait[word] += 1
            else:
                most_common_words_non_clickbait[word] = 1

In [14]:
most_common_words_clickbait_df = pd.DataFrame()
most_common_words_clickbait_df['Word'] = most_common_words_clickbait.keys()
most_common_words_clickbait_df['Count'] = most_common_words_clickbait.values()

most_common_words_non_clickbait_df = pd.DataFrame()
most_common_words_non_clickbait_df['Word'] = most_common_first_word_non_clickbait.keys()
most_common_words_non_clickbait_df['Count'] = most_common_first_word_non_clickbait.values()

In [15]:
most_common_words_clickbait_df.sort_values(by=['Count'], ascending=False).head()

    Word  Count
22   The   7591
30    To   5291
14     A   4741
24    Of   4186
103   In   3724

In [16]:
most_common_words_non_clickbait_df.sort_values(by=['Count'], ascending=False).head()

        Word  Count
0       U.S.    396
131      New    198
67   Today’s    170
1        The    169
4      China    154

##### >> From this we can see that mostly clickbait titles contain functional words than non clickbait titles

#### Check average length of clickbait and non clickbait titles

In [17]:
avg_cb = []
avg_ncb = []
for index, value in crawled_data.iterrows():
    if value[1] is 1:
        sp = value[0].split(" ")
        avg_cb.append(len(sp))
    if value[1] is 0:
        sp = value[0].split(" ")
        avg_ncb.append(len(sp))

In [18]:
print("Average Clickbait Title Lenght:  "+str(np.array(avg_cb).mean()))
print("Average Non-Clickbait Title Lenght:  "+str(np.array(avg_ncb).mean()))

Average Clickbait Title Lenght:  14.6718125
Average Non-Clickbait Title Lenght:  8.96275

##### >> From this we can see that mostly clickbait titles have longer length that non-clickbait titles

In [19]:
the_number_cb = 0
the_number_ncb = 0
for index, value in crawled_data.iterrows():
    if value[1] is 1:
        sp = value[0].split(" ")
        for i in range(len(sp)-1):
            if sp[i] == "The" and sp[i+1].isdigit():
                the_number_cb += 1
    if value[1] is 0:
        sp = value[0].split(" ")
        for i in range(len(sp)-1):
            if sp[i] == "The" and sp[i+1].isdigit():
                the_number_ncb += 1

print("Clickbait: "+str(the_number_cb))
print("Nonclickbait: "+str(the_number_ncb))

Clickbait: 62
Nonclickbait: 3

##### >> From this we can see that mostly clickbait titles the bigram "The NUMBER"

### Number of stop words in clickbaits Vs NonClickbaits

In [20]:
from nltk.corpus import stopwords 
stopWords = set(stopwords.words('english'))
stopwordSeq = []
for index, value in crawled_data.iterrows():
    title = value[0]
    cb = value[1]
    title_list = word_tokenize(title)
    title_sw_len = 0
    for word in title_list:
        if word.lower() in stopWords:
#             print(word)
            title_sw_len += 1
    if title_sw_len >= 3:
        stopwordSeq.append(1)
    else:
        stopwordSeq.append(0)
    
stopwordSeq
# crawled_data["stopwords"] = stopwordSeq

with open('greaterThanThreeSW.pkl', 'wb') as f:
    pickle.dump(stopwordSeq, f)

In [21]:
print("Number of clickbaits-> ", len([value[0] for index, value in crawled_data.iterrows() if value[1] == 1]))

print("Number of clickbaits with zero stopwords-> ",len([value[0] for index, value in crawled_data.iterrows() if value[1] == 1 and value[2] == 0]))

print("Number of non clickbaits-> ", len([value[0] for index, value in crawled_data.iterrows() if value[1] == 0]))

print("Number of non clickbaits with zero stopwords-> ",len([value[0] for index, value in crawled_data.iterrows() if value[1] == 0 and value[2] == 0]))

Number of clickbaits->  16000
Number of clickbaits with zero stopwords->  744
Number of non clickbaits->  16000
Number of non clickbaits with zero stopwords->  11176

In [22]:
from statistics import mean
avg_sw_in_cb = mean([value[2] for index, value in crawled_data.iterrows() if value[1] == 1])
print("Average stopwords in clickbaits-> ", avg_sw_in_cb)
avg_sw_in_ncb = mean([value[2] for index, value in crawled_data.iterrows() if value[1] == 0])
print("Average stopwords in Non-clickbaits-> ", avg_sw_in_ncb)

Average stopwords in clickbaits->  0.9535
Average stopwords in Non-clickbaits->  0.3015

In [25]:
# Number of stopwords in each title
stopwordSeq1 = []
for index, value in crawled_data.iterrows():
    title = value[0]
    cb = value[1]
    title_list = word_tokenize(title)
    title_sw_len = 0
    for word in title_list:
        if word.lower() in stopWords:
#             print(word)
            title_sw_len += 1
#     if title_sw_len >= 3:
    stopwordSeq1.append(title_sw_len)
#     else:
#         stopwordSeq.append(0)
    
crawled_data["stopwords"] = stopwordSeq1
stopwordSeq1

[7,
 4,
 3,
 6,
 8,
 5,
 1,
 7,
 6,
 8,
 8,
 8,
 4,
 12,
 5,
 6,
 2,
 4,
 9,
 6,
 1,
 5,
 2,
 3,
 5,
 3,
 2,
 8,
 7,
 2,
 1,
 8,
 5,
 8,
 12,
 7,
 3,
 7,
 5,
 3,
 7,
 2,
 3,
 4,
 1,
 2,
 5,
 1,
 6,
 9,
 10,
 2,
 6,
 3,
 7,
 0,
 4,
 4,
 3,
 10,
 3,
 4,
 2,
 6,
 1,
 3,
 3,
 8,
 3,
 6,
 1,
 5,
 3,
 9,
 5,
 4,
 1,
 9,
 4,
 9,
 9,
 6,
 10,
 1,
 3,
 3,
 7,
 2,
 1,
 10,
 2,
 4,
 1,
 3,
 2,
 4,
 1,
 10,
 2,
 3,
 3,
 15,
 2,
 2,
 2,
 6,
 6,
 7,
 2,
 4,
 6,
 6,
 2,
 1,
 3,
 3,
 7,
 1,
 4,
 7,
 7,
 10,
 0,
 1,
 6,
 2,
 2,
 10,
 1,
 2,
 0,
 6,
 4,
 4,
 2,
 2,
 1,
 12,
 6,
 4,
 9,
 1,
 9,
 7,
 2,
 2,
 1,
 4,
 5,
 7,
 6,
 4,
 1,
 0,
 0,
 7,
 7,
 6,
 9,
 1,
 8,
 3,
 1,
 8,
 3,
 2,
 5,
 1,
 2,
 4,
 3,
 3,
 4,
 3,
 4,
 3,
 1,
 0,
 5,
 5,
 6,
 6,
 10,
 2,
 7,
 4,
 9,
 2,
 3,
 2,
 2,
 2,
 8,
 2,
 1,
 3,
 6,
 4,
 3,
 7,
 8,
 5,
 2,
 7,
 2,
 0,
 6,
 8,
 2,
 6,
 4,
 1,
 7,
 6,
 1,
 6,
 5,
 5,
 10,
 1,
 2,
 13,
 3,
 3,
 7,
 4,
 8,
 3,
 7,
 4,
 6,
 7,
 2,
 0,
 0,
 1,
 4,
 8,
 5,
 7,
 6,
 2,
 3,
 1,
 0,
 4,
 3,
 0,
 4,
 5,
 1,
 4,
 4,
 8,
 10,
 3,
 2,
 2,
 2,
 4,
 5,
 9,
 2,
 6,
 3,
 2,
 4,
 5,
 5,
 3,
 6,
 1,
 1,
 5,
 10,
 4,
 8,
 7,
 5,
 4,
 5,
 2,
 4,
 5,
 6,
 1,
 1,
 1,
 4,
 3,
 1,
 2,
 2,
 2,
 2,
 4,
 7,
 2,
 4,
 2,
 1,
 0,
 10,
 1,
 4,
 1,
 1,
 6,
 5,
 1,
 6,
 3,
 5,
 5,
 3,
 6,
 8,
 1,
 2,
 8,
 1,
 2,
 1,
 6,
 4,
 2,
 5,
 7,
 6,
 3,
 6,
 1,
 4,
 2,
 3,
 5,
 7,
 2,
 3,
 6,
 8,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 8,
 6,
 6,
 4,
 5,
 6,
 9,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 3,
 3,
 8,
 7,
 2,
 2,
 4,
 2,
 9,
 3,
 6,
 4,
 7,
 2,
 8,
 1,
 5,
 2,
 2,
 1,
 0,
 4,
 2,
 2,
 8,
 5,
 2,
 3,
 1,
 1,
 2,
 0,
 1,
 0,
 7,
 2,
 3,
 3,
 9,
 5,
 5,
 8,
 5,
 6,
 1,
 5,
 2,
 2,
 7,
 10,
 2,
 5,
 2,
 1,
 9,
 4,
 3,
 3,
 8,
 2,
 0,
 2,
 5,
 2,
 4,
 7,
 1,
 7,
 3,
 9,
 6,
 3,
 6,
 7,
 3,
 1,
 3,
 2,
 3,
 1,
 1,
 3,
 6,
 2,
 3,
 1,
 6,
 2,
 4,
 2,
 2,
 4,
 6,
 6,
 1,
 6,
 5,
 2,
 3,
 1,
 2,
 5,
 6,
 2,
 7,
 5,
 1,
 3,
 6,
 6,
 7,
 5,
 4,
 8,
 4,
 1,
 1,
 2,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 6,
 3,
 6,
 5,
 0,
 1,
 1,
 11,
 3,
 1,
 2,
 1,
 4,
 3,
 7,
 9,
 4,
 5,
 10,
 13,
 2,
 2,
 8,
 8,
 2,
 2,
 5,
 7,
 2,
 1,
 4,
 5,
 3,
 6,
 2,
 2,
 2,
 4,
 5,
 1,
 4,
 4,
 2,
 6,
 2,
 5,
 1,
 2,
 0,
 8,
 6,
 1,
 5,
 4,
 5,
 3,
 9,
 5,
 7,
 7,
 5,
 4,
 2,
 7,
 1,
 1,
 8,
 2,
 1,
 5,
 1,
 7,
 4,
 5,
 6,
 2,
 4,
 8,
 10,
 3,
 12,
 1,
 3,
 1,
 1,
 9,
 6,
 1,
 5,
 2,
 1,
 2,
 9,
 4,
 8,
 7,
 6,
 2,
 5,
 9,
 6,
 10,
 3,
 5,
 1,
 3,
 4,
 2,
 5,
 4,
 2,
 6,
 4,
 7,
 8,
 9,
 3,
 4,
 11,
 6,
 7,
 9,
 3,
 6,
 6,
 8,
 1,
 2,
 5,
 6,
 2,
 8,
 1,
 3,
 5,
 6,
 12,
 7,
 2,
 4,
 1,
 2,
 1,
 8,
 1,
 1,
 3,
 2,
 1,
 8,
 9,
 3,
 2,
 4,
 1,
 8,
 6,
 4,
 1,
 3,
 4,
 5,
 1,
 3,
 5,
 3,
 5,
 2,
 2,
 1,
 2,
 5,
 7,
 6,
 1,
 2,
 6,
 2,
 6,
 4,
 3,
 6,
 5,
 4,
 3,
 2,
 4,
 2,
 7,
 5,
 2,
 0,
 7,
 7,
 7,
 4,
 9,
 1,
 7,
 6,
 2,
 7,
 6,
 1,
 2,
 6,
 4,
 7,
 2,
 8,
 3,
 3,
 0,
 2,
 5,
 6,
 7,
 4,
 14,
 3,
 3,
 2,
 1,
 0,
 7,
 2,
 2,
 0,
 1,
 6,
 2,
 6,
 2,
 4,
 6,
 4,
 3,
 7,
 4,
 4,
 4,
 7,
 2,
 11,
 3,
 6,
 2,
 2,
 2,
 6,
 3,
 2,
 8,
 2,
 2,
 4,
 9,
 8,
 3,
 8,
 8,
 3,
 1,
 6,
 1,
 1,
 5,
 3,
 2,
 5,
 4,
 0,
 4,
 7,
 3,
 6,
 2,
 6,
 3,
 1,
 8,
 5,
 2,
 4,
 6,
 1,
 11,
 2,
 2,
 8,
 3,
 2,
 10,
 9,
 10,
 2,
 2,
 9,
 2,
 3,
 3,
 1,
 7,
 2,
 2,
 4,
 6,
 1,
 2,
 7,
 3,
 8,
 1,
 2,
 5,
 1,
 3,
 8,
 6,
 6,
 9,
 3,
 2,
 4,
 2,
 2,
 8,
 3,
 5,
 1,
 2,
 2,
 2,
 8,
 7,
 1,
 6,
 4,
 7,
 4,
 1,
 4,
 1,
 7,
 3,
 10,
 3,
 4,
 2,
 1,
 3,
 3,
 6,
 0,
 1,
 1,
 4,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 1,
 2,
 9,
 2,
 6,
 7,
 3,
 2,
 4,
 5,
 2,
 6,
 5,
 3,
 8,
 2,
 1,
 2,
 1,
 6,
 2,
 3,
 1,
 4,
 6,
 4,
 1,
 9,
 4,
 10,
 8,
 0,
 5,
 2,
 1,
 8,
 1,
 2,
 3,
 2,
 0,
 4,
 6,
 10,
 7,
 2,
 2,
 7,
 5,
 1,
 7,
 3,
 3,
 1,
 2,
 2,
 1,
 2,
 2,
 6,
 1,
 9,
 2,
 2,
 3,
 6,
 1,
 1,
 2,
 9,
 3,
 5,
 2,
 2,
 9,
 10,
 3,
 6,
 3,
 3,
 2,
 5,
 13,
 10,
 3,
 3,
 2,
 3,
 1,
 1,
 3,
 1,
 2,
 6,
 6,
 2,
 14,
 2,
 10,
 1,
 10,
 11,
 3,
 5,
 4,
 8,
 7,
 8,
 1,
 5,
 10,
 9,
 6,
 3,
 13,
 6,
 2,
 7,
 3,
 6,
 2,
 5,
 3,
 1,
 1,
 1,
 6,
 3,
 5,
 2,
 7,
 5,
 4,
 8,
 7,
 5,
 7,
 7,
 3,
 0,
 ...]

In [26]:
# Adding a Threshold

print("Number of clickbaits-> ", len([value[0] for index, value in crawled_data.iterrows() if value[1] == 1]))

print("Number of clickbaits with atleast 3 stopwords-> ",len([value[0] for index, value in crawled_data.iterrows() if value[1] == 1 and value[2] >= 3]))

print("Number of non clickbaits-> ", len([value[0] for index, value in crawled_data.iterrows() if value[1] == 0]))

print("Number of non clickbaits with atleast 3 stopwords-> ",len([value[0] for index, value in crawled_data.iterrows() if value[1] == 0 and value[2] >= 3]))

Number of clickbaits->  16000
Number of clickbaits with atleast 3 stopwords->  15256
Number of non clickbaits->  16000
Number of non clickbaits with atleast 3 stopwords->  4824

### Top 25 Common Bigrams

In [27]:

cb_bigrams = []
for index, value in crawled_data.iterrows():
    if value[1] == 1:
        title_list = word_tokenize(value[0])
        cb_bigrams.extend(list(nltk.bigrams(title_list)))
        
fdist = nltk.FreqDist(cb_bigrams)

In [28]:
from operator import itemgetter
common_bigrams = sorted(fdist.items(), key=itemgetter(1), reverse=True)[:25]
# print(common_bigrams)
common_bigrams = [' '.join(ct[0]) for ct in common_bigrams]
print(common_bigrams)
with open('commonBigrams.pkl', 'wb') as f:
    pickle.dump(common_bigrams, f)

['’ s', '’ t', 'Here ’', '’ ll', 'You ’', 'It ’', '’ re', 'Of The', 'In The', 'Make You', 'The World', 'That ’', '& It', 'If You', 'You Can', 'Is The', 'Can ’', ', This', 'Here Are', 'That Are', 'Will Make', 'In A', 'This Is', '’ ve', 'The Most']

### Common trigrams

In [29]:
cb_trigrams = []
for index, value in crawled_data.iterrows():
    if value[1] == 1:
        title_list = word_tokenize(value[0])
        c = 0
        while c < len(title_list) - 2:
            cb_trigrams.append((title_list[c], title_list[c+1], title_list[c+2]))
            c += 1
#         cb_trigrams.extend(list(nltk.trigrams(title_list)))
        
fdisttri = nltk.FreqDist(cb_trigrams)
common_trigrams = sorted(fdisttri.items(), key=itemgetter(1), reverse=True)[:50]
common_trigrams = [' '.join(ct[0]) for ct in common_trigrams]
print(common_trigrams)
with open('commonTrigrams.pkl', 'wb') as f:
    pickle.dump(common_trigrams, f)

['Here ’ s', 'It ’ s', 'That ’ ll', 'Can ’ t', '& It ’', 'You ’ re', 'You ’ ll', 'Will Make You', '’ s A', '’ s Why', '’ s The', 'Don ’ t', '’ s ‘', '’ ll Make', 'India ’ s', 'We ’ re', '’ s What', '’ s How', 'You Need To', '. Here ’', ', Here ’', 'll Make You', 'This Is What', 'Didn ’ t', 'Won ’ t', ', This Is', 'They ’ re', 'He ’ s', 'There ’ s', 'If You ’', 'Around The World', 'You ’ ve', 'Game Of Thrones', '& We ’', 'In The World', 'We Can ’', '’ t Get', 'World ’ s', ', Here Are', 'You Want To', 'The World ’', 'Doesn ’ t', '’ s New', '’ t Know', ', You ’', '? Here ’', 'Of The Most', 'Who ’ s', 'That Will Make', 'All Of Us']

### Top 25 stopwords with which clickbaits start

In [154]:
stopwordStart_cb = []
for index, value in crawled_data.iterrows():
    title = value[0]
    cb = value[1]
    title_list = word_tokenize(title)
    if cb == 1:
        if title_list[0].lower() in stopWords:
            stopwordStart_cb.append(title_list[0])
    
print("clickbaits that start with stopword-> ", len(stopwordStart_cb))
stopwordStart_cb
fdist = nltk.FreqDist(stopwordStart_cb)
stopwordStart_cb_freq = sorted(fdist.items(), key=itemgetter(1), reverse=True)[:10]
stopwordStart_cb_freq = [x[0] for x in stopwordStart_cb_freq]
stopwordStart_cb_freq
with open('startWithStopWords.pkl', 'wb') as f:
    pickle.dump(stopwordStart_cb_freq, f)
stopwordStart_cb_freq

clickbaits that start with stopword->  7148

['This', 'Which', 'What', 'The', 'How', 'We', 'Can', 'Here', 'Are', 'These']

In [152]:
stopwordStart_ncb = []
for index, value in crawled_data.iterrows():
    title = value[0]
    cb = value[1]
    title_list = word_tokenize(title)
    if cb == 0:
        if title_list[0].lower() in stopWords:
            stopwordStart_ncb.append(title_list[0])
    
print("Non-clickbaits that start with stopword-> ", len(stopwordStart_ncb))

fdist = nltk.FreqDist(stopwordStart_ncb)
stopwordStart_ncb_freq = sorted(fdist.items(), key=itemgetter(1), reverse=True)[:10]
stopwordStart_ncb_freq = [x[0] for x in stopwordStart_ncb_freq]
stopwordStart_ncb_freq

Non-clickbaits that start with stopword->  1261

['A', 'In', 'The', 'At', 'For', 'As', 'With', 'After', 'No', 'On']

## Shortened Words

In [153]:
shortened_wrds = []
for index, value in crawled_data.iterrows():
    title = value[0]
    cb = value[1]
    title_list = title.split()
    if cb == 1:
        for title in title_list:
            t = title
            apos_present = False
            for ch in title:
                if ch == "'":
                    apos_present = True
            if apos_present:
                shortened_wrds.append(title)
shortened_wrds
fsdist = nltk.FreqDist(shortened_wrds)
shortened_wrds_freq = sorted(fsdist.items(), key=itemgetter(1), reverse=True)[:29]
shortened_wrds_freq = [x[0] for x in shortened_wrds_freq]
shortened_wrds_freq.extend(["That's","Shouldn't","Everyone's","Haven't"])
shortened_wrds_freq
with open('shortenedWords.pkl', 'wb') as f:
    pickle.dump(shortened_wrds_freq, f)